<%- include('includes/head') %>

<div class="jumbotron">
  <div class="container">
    <h1>Welcome</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>


<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim sem venenatis tempor dictum. Donec blandit, nulla tristique faucibus varius, nisi mauris lobortis arcu, sed placerat quam magna ac est. Interdum et malesuada fames ac ante ipsum
  primis in faucibus. Suspendisse ut hendrerit mi, sed viverra turpis. Pellentesque malesuada purus a lorem euismod laoreet. Proin placerat eros ac sapien dignissim euismod. Aenean rutrum mi non mi gravida, quis facilisis nibh lacinia. Nam luctus aliquet
  nisi, eget pharetra dolor luctus sit amet. Quisque a leo nec metus imperdiet congue. Nullam posuere dolor vel felis lobortis, a efficitur sem maximus. Nullam in justo id sem tristique tincidunt nec eu eros. Vestibulum dignissim justo varius, dictum
  velit facilisis, dapibus diam. Nullam sit amet tortor ut sapien rutrum vestibulum. Maecenas ornare condimentum lectus vel interdum. Pellentesque lacinia purus leo, non ullamcorper tellus aliquam non. Etiam eu eros eget ipsum egestas lacinia.</p>


<%- include('includes/footer') %>
